# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ==========================================
# Proteus Design Suite (Labcenter Electronics)
# ==========================================
# Proteus Backup & Temporary Files
*.pdsbak
*.workspace
*.pdsprj.*.workspace
Last Loaded *.pdsprj

# Proteus Simulation & Netlist Cache
*.SDF
*.SDF.*
*.DRC
*.LOG
*.DBK

# Compiler Output Files (Keil / AVR-GCC / MPLAB output in Proteus)
*.hex
*.elf
*.cof
*.lst
*.obj
*.sym
*.map
*.dep
*.i

# Microchip / Atmel Studio Temporary Files (If using external IDE)
.vs/
*.componentfile
